<link rel="stylesheet" href="home.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<div id="container">
    <div id="filter">
        <a href="http://localhost:8080/laptop"> 
        <i class="bi bi-laptop"></i>
        <span>Laptops</span>
        </a><br>
        <a href="http://localhost:8080/tablet">
        <i class="bi bi-tablet-landscape"></i>
        <span>Tablets</span>
        </a><br>
        <a href="http://localhost:8080/phone">
        <i class="bi bi-phone"></i>
        <span>Phones</span>
        </a>
    </div>
    <div id="main"></div>
    <div id="menu"></div>
</div>
<button id="sidebar-button"><i class="bi bi-cart"></i></button>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="home.js"></script>